.center {
    text-align: center
}

.ui_action .ui-flex {
    width: max-content;
}

.ui-icon {
    padding-right: 0.2rem;
}

.ui_action .ui-table__cell__content {
    display: flex;
    align-items: center;
}

.ui-pagessegment {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.1rem;
}

.ui-pagestext {
    margin: 0.5rem 0 1.5rem 0;
}

.ui-pagesbtn {
    max-width: fit-content !important;
}

.ui-table__row:nth-child(2) {
    height: auto;
    min-height: 46.4px;
}

@media screen and (min-width: 700px) {
    .ui-table__cell:not(:last-child) {
        max-width: 6%;
    }

    .ui-table__cell:first-child {
        max-width: 10%;
    }

    .ui_action .ui-table__cell__content textarea {
        height: 100px;
        width: 600px;
    }
}

@media screen and (max-width: 700px) {
    .ui-table__cell:not(:last-child) {
        max-width: 13%;
    }

    .ui-table__cell:first-child {
        max-width: 20%;
    }
}